@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    height: 100vh;
    background-color: #242526;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

a { 
    text-decoration: none;
}

a:link {
    color: #a261ff;
    background: transparent;
    text-decoration: none;
}

a:visited {
    color: #a261ff;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: #37c0ff;
    background: transparent;
    text-decoration: none;
}

a:active {
    color: #37c0ff;
    background: transparent;
    text-decoration: none;
}

.nav-container {
    background: #242526;

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        font-weight: bold;
        font-size: 1.5em;
        color: #a261ff;
    }

    .logo:hover {
        color: white;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }

        a:hover {
            color: #a261ff;
            background: transparent;
            text-decoration: none;
        }

        a:active {
            color: #37c0ff;
            background: transparent;
            text-decoration: none;
        }
    }
}

.social-header, object {
    display: none;
}

.hero {
    color: white;
    display: grid;
}

.hero-text {
    color: #37c0ff;
}

.hero-subtext {
    display: flex;
    font-weight: bold;
    color: #a261ff;
}

section {
    padding: 4em 2em;
    text-align: center;
}

/* about */
.about-text {
    color: #a261ff;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;

    .about-subtext {
        color: white;
        text-decoration: none;
        font-weight: normal;
        line-height: 1.2em;
        font-size: .85em;
    }
}

/* iconlist */
.iconlist-container { 
   
}

/* projects */
.projects {
    background-color: #313233;

    .projects-container ul li{
        background: #242526;
        padding: 2em;
        margin-bottom: 1em;
        border-radius: 1em;

        .icon-container {
            height: 100px;
            display: grid;
            place-content: center;
            margin: 0 auto;

            &.one {
                width: 50px;
                height: 50px;
            }
            &.two {
                width: 50px;
                height: 50px;
            }
            &.three {
                width: 60px;
                height: 55px;
            }
        }

        .project-title {
            font-weight: bold;
            color: #a261ff;
        }
        .project-description {
            margin-bottom: 2em;
        }
    }
}

/* portfolio */
.portfolio-site-main {
    text-align: center;
}

/* webscraper */
.webscraper-site-main {
    text-align: center;
}

/* vinbot */
.vinbot-site-main {
    text-align: center;
}

/* footer */
.footer-container {
    background-color: #242526;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-links {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;

        .footer-links-wrapper {
            display: flex;

            .footer-links-items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 16px;
                text-align: left;
                width: 160px;
                box-sizing: border-box
            }

            .footer-links-items h2 {
                margin-bottom: 16px;
            }

            .footer-links-items a {
                text-decoration: none;
                margin-bottom: 0.5rem;
            }
        }
    }
}



@media only screen and (min-width: 800px) {
    .about {
        text-align: center;
    }

    .iconlist-container{
        display: grid;
        
    }
}

@media screen and (max-width: 480px) {
    .footer-links-items {
        margin: 0;
        padding: 10px;
        width: 100px;
    }
}