@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #242526;
    color: #fff;

}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
}

a:link {
    color: #a261ff;
    background: transparent;
    text-decoration: none;
}

a:visited {
    color: #a261ff;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: #37c0ff;
    background: transparent;
    text-decoration: none;
}

a:active {
    color: #37c0ff;
    background: transparent;
    text-decoration: none;
}

.nav-container {
    background: #242526;

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        font-weight: bold;
        font-size: 1.5em;
        color: #a261ff;
    }

    .logo:hover {
        color: white;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }

        a:hover {
            color: #a261ff;
            background: transparent;
            text-decoration: none;
        }

        a:active {
            color: #37c0ff;
            background: transparent;
            text-decoration: none;
        }
    }
}

.social-header, object {
    display: none;
}

.hero {
    color: white;
    display: grid;
}

.hero-text {
    color: #37c0ff;
}

.hero-subtext {
    display: flex;
    font-weight: bold;
    color: #a261ff;
}

section {
    padding: 4em 2em;
    text-align: center;
}

/* about */
.about-container {
    display: flex;
    flex-direction: column;
}
.about-text {
    color: #a261ff;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;

    .about-subtext {
        color: white;
        text-decoration: none;
        font-weight: normal;
        line-height: 1.2em;
        font-size: .85em;
    }
}

/* iconlist */
.iconlist-container { 
   display: none;
   border-spacing: 1rem;
   width: 100%;

   .icon {
       width: 20%;
       display: none;
       vertical-align: middle;
       border-radius: 0.625rem;
   }

   .icon img {
        display: none;
        width: 60px;
        height: 60px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
   }
}

/* projects */
.projects {
    background-color: #313233;

    .projects-container ul li{
        background: #242526;
        padding: 2em;
        margin-bottom: 1em;
        border-radius: 1em;

        .icon-container {
            height: 100px;
            display: grid;
            place-content: center;
            margin: 0 auto;

            &.one {
                width: 50px;
                height: 50px;
            }
            &.two {
                width: 50px;
                height: 50px;
            }
            &.three {
                width: 60px;
                height: 55px;
            }
        }

        .btn {
            width: 100px;
            height: 30px;
            border: none;
            background-color: #a261ff;
            border-radius: 4px;
            box-sizing: inset 0 0 0 0 #37c0ff;
            transition: ease-out 0.3s;
            font-size: 0.85rem;
            outline: none;

            a {
                color: white;
                text-decoration: none;
                font-family: 'Source Code Pro', monospace;
            }
        }

        .btn:hover {
            box-shadow: inset 100px 0 0 0 #37c0ff;
            cursor: pointer;
            color: #000;
        }

        .project-title {
            font-weight: bold;
            color: #a261ff;
        }
        .project-description {
            margin-bottom: 2em;
        }
    }
}

/* portfolio */
.portfolio-site-main {
    text-align: center;
}

/* webscraper */
.webscraper-site-main {
    text-align: center;
}

/* vinbot */
.vinbot-site-main {
    text-align: center;
}

/* footer */
.footer-container {
    background-color: #242526;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-links {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;

        .footer-links-wrapper {
            display: flex;

            .footer-links-items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 16px;
                text-align: left;
                width: 160px;
                box-sizing: border-box;
            }

            .footer-links-items h2 {
                margin-bottom: 16px;
            }

            .footer-links-items a {
                text-decoration: none;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.hero {
    display: grid;
    background: unset;
    padding: 0;
    position: relative;

    .hero-text {
        text-align: center;

        .hero-subtext{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: #a261ff;
            font-size: 1.5em;
        }
    }
}

.hero-subtext {
    margin: unset;
}


@media only screen and (min-width: 800px) {
    .about {

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .iconlist-container{
        margin: 0 1rem;
    }

    .projects-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }



    .nav-container {
        display: grid;
        grid-template-columns: 57% auto;
        background: unset;

        header {
            background: #242526;
        }

        header ul li {
            align-items: center;
            justify-content: space-between;
        }
    }

    header {
        padding: 2em 2em 2em 2em;
    }

    .social-header {
        padding: 2em 4em 2em 0;
    }

    section {
        padding: 4em;
    }

    .social-header {
        display: block;
        
        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 30px;
            }

            img:hover {
                color: #37c0ff;
                background: transparent;
                text-decoration: none;
            }
        }
    }
}


@media screen and (max-width: 799px) {
    .iconlist-container, .icon {
        display: block;
    }

    .icon {
        width: 100%;
        margin: 1rem 0;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: unset;
    }

    header {
        padding: 2em 2em 2em 4em;
    }

    .social-header {
        display: none;
        
        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 30px;
            }

            img:hover {
                color: #37c0ff;
                background: transparent;
                text-decoration: none;
            }
        }
    }

    .about-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .footer-links-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    
}