@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    height: 100vh;
    background-color: #242526;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
}